/* body{
 
} */

.titulo-principal{

    padding-left: 30px;
}

#banner{

    width: 100%;
}

.caja{
width: 940px;
position: relative;
margin: 0 auto;
}

.productos{
    display: flex;
    width: 940px;
    margin:0 auto;
    padding: 50px;
}
.productos-contenido{
    display: flex;
    justify-content: space-between;
    gap:20%;
}

.productos-contenido li{

    display: inline-block;
    text-align: center;
    width: 100%;
    vertical-align: top;
    margin:0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border:2px solid #000000;
    border-radius:10px;
   

}


.principal{

    background: #cccccc;
    padding: 20px;
}

.titulo-centralizado{

text-align:center;
}

p{
    text-align: center;
    
}



em strong{

    color:red;
}

#mision{

    font-size: 20px;
}

.diferenciales{

    background: #FFFFFF;
    padding: 30px;

}



.items{

    font-style: italic;
}

ul{
    
    display:flex;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{

    width: 50%;

}


@media screen and (max-width:480px){
    .caja{        
        display: block;
        width: 100%;    
        
    }

    .productos{
        display: block;
        flex-direction: column;        
        width: auto;

    }

    .productos-contenido li{
        margin-bottom: 20px;        
        width: auto;
        
    }
    /* ul{
        display: block;
        width: 100%;
        margin: 0 0 20px 0;
    } */

    .imagenDiferenciales{
        width: 100%;
    }
}
    
